<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, scale=1" />
        <link rel="stylesheet" type="text/css" href="/public/style.css" />
        <title>Bachianas Brasileiras</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Bachianas Brasileiras</h1>
            </header>
            <main>
                <section class="main-image">
                    <figure>
                        <img src="/public/VillaLobosPortrait.jpg" alt="Portrait of Heitor Villa-Lobos" title="Portrait of Heitor Villa-Lobos" />
                        <figcaption>Portrait of Heitor Villa-Lobos</figcaption>
                    </figure>
                </section>
                <section class="songs-list">
                    <ul>
                        <li class="song-item">
                            <figure>
                                <figcaption><h2>Bachianas, Number 1</h2></figcaption>
                                <audio
                                    controls
                                    src="/public/n_1.mp3">
                                        Your browser does not support the
                                        <code>audio</code> element.
                                </audio>
                            </figure>
                        </li>
                        <li class="song-item">
                            <figure>
                                <figcaption><h2>Bachianas, Number 2</h2></figcaption>
                                <audio
                                    controls
                                    src="/public/n_2.mp3">
                                        Your browser does not support the
                                        <code>audio</code> element.
                                </audio>
                            </figure>
                        </li>
                        <li class="song-item">
                            <figure>
                                <figcaption><h2>Bachianas, Number 3</h2></figcaption>
                                <audio
                                    controls
                                    src="/public/n_3.mp3">
                                        Your browser does not support the
                                        <code>audio</code> element.
                                </audio>
                            </figure>
                        </li>
                    </ul>
                </section>
            </main>
            <footer>
                <span>In Tribute for Heitor Villa-Lobos</span>
            </footer>
        </div>
    </body>
</html>